In [1]:
%load_ext sql

/Users/cedarwaxwing/Library/Python/2.7/lib/python/site-packages/IPython/config.py:13: ShimWarning: The `IPython.config` package has been deprecated. You should import from traitlets.config instead.
  "You should import from traitlets.config instead.", ShimWarning)
/Users/cedarwaxwing/Library/Python/2.7/lib/python/site-packages/IPython/utils/traitlets.py:5: UserWarning: IPython.utils.traitlets has moved to a top-level traitlets package.
  warn("IPython.utils.traitlets has moved to a top-level traitlets package.")

In [2]:
connection_string = "mysql://{user}:{password}@localhost".format(user='root', password = '') 
%sql $connection_string

u'Connected: root@None'

In [4]:
%%sql
CREATE DATABASE panama_leaks_db;

1 rows affected.

[]

In [3]:
%%sql
USE panama_leaks_db;

0 rows affected.

[]

In [6]:
%%sql
SHOW TABLES;

4 rows affected.

[('countriesNW',), ('edges_1DNW2',), ('node_countriesNW',), ('nodesNW',)]

## create and load in all tables

In [10]:
%%sql
DROP TABLE IF EXISTS node_countriesNW;
CREATE TABLE node_countriesNW(
    node_id INT,
    country_code VARCHAR(255),
    country_name VARCHAR(255),
    country_id INT);

0 rows affected.
0 rows affected.

[]

In [ ]:
# in mysql -u root -p --local-infile=1
LOAD DATA LOCAL INFILE 'node_countriesNW.csv'  
INTO TABLE node_countriesNW  
FIELDS TERMINATED BY ';' 
ENCLOSED BY '"'  
LINES TERMINATED BY '\r\n'  
IGNORE 1 ROWS;

In [ ]:
%%sql
DROP TABLE IF EXISTS countriesNW;
CREATE TABLE countriesNW (
    country_id INT,
    country_code VARCHAR(2),
    country_name VARCHAR(48)
);

In [ ]:
# in mysql -u root -p --local-infile=1
LOAD DATA LOCAL INFILE 'countriesNW.csv'  
INTO TABLE countriesNW  
FIELDS TERMINATED BY ';' 
ENCLOSED BY '"'  
LINES TERMINATED BY '\r\n'  
IGNORE 1 ROWS;

In [ ]:
LOAD DATA LOCAL INFILE 'nodesNW.csv'  
INTO TABLE nodesNW  
FIELDS TERMINATED BY ';' 
ENCLOSED BY '"'  
LINES TERMINATED BY '\r\n'  
IGNORE 1 ROWS;

In [ ]:
%%sql
DROP TABLE IF EXISTS nodesNW;
CREATE TABLE nodesNW (
    Unique_ID INT,
    subtypes VARCHAR(255) CHARACTER SET utf8,
    Description VARCHAR(255) CHARACTER SET utf8,
    searchField VARCHAR(255) CHARACTER SET utf8,
    status VARCHAR(255),
    desc_status VARCHAR(255),
    type VARCHAR(255),
    desc_company_type VARCHAR(255),
    inc_dat VARCHAR(255), #dates should probably be read in in proper format
    dorm_dat VARCHAR(255),
    juris VARCHAR(255),
    desc_jurisdiction VARCHAR(255),
    completeAddresses VARCHAR(255),
    agencyID INT,
    tax_stat VARCHAR(255),
    tax_stat_description VARCHAR(255)
);

In [ ]:
%%sql
DROP TABLE IF EXISTS edges_1DW;
CREATE TABLE edges_1DNW2 (
    Unique_ID INT,
    Entity_ID1 INT,
    Entity_ID2 INT,
    description VARCHAR(255) CHARACTER SET utf8,
    date_from VARCHAR(255), #again maybe should fix the way dates are read in
    date_to VARCHAR(255),
    direction INT,
    chinesePos VARCHAR(255) CHARACTER SET utf8,
    linkType VARCHAR(255) CHARACTER SET utf8
);

In [ ]:
LOAD DATA LOCAL INFILE 'edges_1DNW.csv'  
INTO TABLE edges_1DNW2  
FIELDS TERMINATED BY ';' 
ENCLOSED BY '"'  
LINES TERMINATED BY '\r\n'  
IGNORE 1 ROWS;

## look at what is in each table

In [34]:
%%sql
select * from countriesNW limit 5;

5 rows affected.

[(1L, 'AF', 'Afghanistan'),
 (2L, 'AX', 'Akrotiri'),
 (3L, 'AL', 'Albania'),
 (4L, 'AG', 'Algeria'),
 (5L, 'AQ', 'American Samoa')]

In [35]:
%%sql
select * from node_countriesNW limit 5;

5 rows affected.

[(118720L, 'HK', 'Hong Kong', 110L),
 (118722L, 'HK', 'Hong Kong', 110L),
 (118725L, 'TW', 'Taiwan', 241L),
 (118726L, 'TW', 'Taiwan', 241L),
 (118753L, 'HK', 'Hong Kong', 110L)]

In [36]:
%%sql
select * from nodesNW limit 5;

5 rows affected.

[(51113L, 'OFFICER', 'Bisbro Investment Company Ltd.', 'Bisbro Investment Company Ltd. ', '', '', '', '', '', '', '', '', '', 1L, '', ''),
 (51114L, 'OFFICER', 'Mohamed Mustafa Bin A Mohamed Ismail', 'Mohamed Mustafa Bin A Mohamed Ismail ', '', '', '', '', '', '', '', '', '', 1L, '', ''),
 (51115L, 'OFFICER', 'Teh Hong Eng', 'Teh Hong Eng ', '', '', '', '', '', '', '', '', '', 1L, '', ''),
 (51116L, 'OFFICER', 'New Sights Enterprises Limited', 'New Sights Enterprises Limited ', '', '', '', '', '', '', '', '', '', 1L, '', ''),
 (51117L, 'OFFICER', 'Yong Meow Mui', 'Yong Meow Mui ', '', '', '', '', '', '', '', '', '', 1L, '', '')]

In [37]:
%%sql
select * from edges_1DNW2 limit 5;

5 rows affected.

[(171253L, 102767L, 124901L, 'Assistant Secretary', '', '', 1L, '\xe5\x8a\xa9\xe7\x90\x86\xe7\xa7\x98\xe4\xb9\xa6', 'EO'),
 (336222L, 118470L, 167808L, 'Auditor', '', '', 1L, '\xe5\xae\xa1\xe8\xae\xa1', 'EO'),
 (336223L, 48124L, 167808L, 'Auditor', '', '', 1L, '\xe5\xae\xa1\xe8\xae\xa1', 'EO'),
 (336224L, 61547L, 167808L, 'Auditor', '', '', 1L, '\xe5\xae\xa1\xe8\xae\xa1', 'EO'),
 (336256L, 89570L, 123436L, 'Authorised Person / Signatory', '', '', 1L, '\xe6\x8e\x88\xe6\x9d\x83\xe4\xba\xba/\xe7\xad\xbe\xe7\xbd\xb2\xe4\xba\xba', 'EO')]

## how big is each table?

In [43]:
%%sql
SELECT COUNT(*) AS length_countriesNW FROM countriesNW;

1 rows affected.

[(276L,)]

In [44]:
%%sql
SELECT COUNT(*) AS length_node_countriesNW  FROM node_countriesNW;

1 rows affected.

[(326213L,)]

In [45]:
%%sql
SELECT COUNT(*) AS length_nodesNW FROM nodesNW;

1 rows affected.

[(557386L,)]

In [46]:
%%sql
SELECT COUNT(*) AS length_edges_1DW2 FROM edges_1DNW2;

1 rows affected.

[(562015L,)]

## which countries are never nodes?

In [62]:

%%sql
SELECT DISTINCT(c.country_name) FROM countriesNW c
LEFT JOIN node_countriesNW n ON c.country_name=n.country_name
WHERE n.country_name IS NULL;

106 rows affected.

[('Afghanistan',),
 ('Akrotiri',),
 ('Albania',),
 ('American Samoa',),
 ('Antarctica',),
 ('Aruba',),
 ('Ashmore and Cartier Islands',),
 ('Baker Island',),
 ('Bassas da India',),
 ('Bolivia',),
 ('Bouvet Island',),
 ('British Indian Ocean Territory',),
 ('Burkina Faso',),
 ('Burma',),
 ('Burundi',),
 ('Cameroon',),
 ('Cape Verde',),
 ('Central African Republic',),
 ('Chad',),
 ('Christmas Island',),
 ('Clipperton Island',),
 ('Cocos (Keeling) Islands',),
 ('Comoros',),
 ('Congo, Republic of the',),
 ('Coral Sea Islands',),
 ('Cuba',),
 ('Dhekelia',),
 ('Equatorial Guinea',),
 ('Eritrea',),
 ('Ethiopia',),
 ('Etorofu, Habomai, Kunashiri and Shikotan Islands',),
 ('Europa Island',),
 ('Falkland Islands (Islas Malvinas)',),
 ('Faroe Islands',),
 ('French Guiana',),
 ('French Southern and Antarctic Lands',),
 ('Gambia, The',),
 ('Gaza Strip',),
 ('Glorioso Islands',),
 ('Greenland',),
 ('Guadeloupe',),
 ('Guatemala',),
 ('Guinea-Bissau',),
 ('Haiti',),
 ('Heard Island and McDonald Islands',),
 ('Honduras',),
 ('Howland Island',),
 ('Iraq',),
 ('Jan Mayen',),
 ('Jarvis Island',),
 ('Johnston Atoll',),
 ('Juan de Nova Island',),
 ('Kingman Reef',),
 ('Kiribati',),
 ('Kosovo',),
 ('Mali',),
 ('Martinique',),
 ('Mauritania',),
 ('Mayotte',),
 ('Micronesia, Federated States of',),
 ('Midway Islands',),
 ('Montserrat',),
 ('Mozambique',),
 ('Navassa Island',),
 ('New Caledonia',),
 ('Nicaragua',),
 ("No Man's Land",),
 ('North Korea',),
 ('Oceans',),
 ('Palau',),
 ('Palmyra Atoll',),
 ('Paracel Islands',),
 ('Pitcairn Islands',),
 ('Reunion',),
 ('Rwanda',),
 ('Saint Barthelemy',),
 ('Saint Helena, Ascension, and Tristan da Cunha',),
 ('Saint Pierre and Miquelon',),
 ('San Marino',),
 ('Sao Tome and Principe',),
 ('Senegal',),
 ('Sint Maarten',),
 ('Solomon Islands',),
 ('Somalia',),
 ('South Georgia and South Sandwich Islands',),
 ('South Sudan',),
 ('Spratly Islands',),
 ('Sudan',),
 ('Svalbard',),
 ('Swaziland',),
 ('Timor-Leste',),
 ('Togo',),
 ('Tokelau',),
 ('Tromelin Island',),
 ('Tunisia',),
 ('Tuvalu',),
 ('Uganda',),
 ('Undersea Features',),
 ('US Virgin Islands',),
 ('Vatican City',),
 ('Wake Island',),
 ('Wallis and Futuna',),
 ('West Bank',),
 ('Western Sahara',),
 ('Yemen',),
 ('Zambia',)]

## countries in node table not listed in countriesNW table

In [73]:

%%sql
SELECT DISTINCT(n.country_name), COUNT(n.country_name) AS times_as_node FROM node_countriesNW n
LEFT JOIN countriesNW c ON n.country_name=c.country_name
WHERE c.country_name IS NULL
GROUP BY n.country_name;

4 rows affected.

[('Myanmar', 34L),
 ('Russian Federation', 2L),
 ('The Netherlands', 10L),
 ('U.S. Virgin Islands', 662L)]

## look at number of times each country appears as a node

In [8]:

%%sql
SELECT country_name, count(*) AS times_as_node
    FROM node_countriesNW
    group by country_name
    order by times_as_node DESC
    LIMIT 10;

10 rows affected.

[('British Virgin Islands', 72677L),
 ('Not identified', 65912L),
 ('Hong Kong', 40406L),
 ('Taiwan', 29327L),
 ('China', 17776L),
 ('Russia', 11734L),
 ('United States', 11490L),
 ('Singapore', 10615L),
 ('United Kingdom', 10117L),
 ('Samoa', 8778L)]

## explore nodesNW table

In [14]:
%%sql
select * from nodesNW limit 150000, 10;

10 rows affected.

[(190277L, 'ENTITY', 'Sino-forpros International, Inc.', 'Sino-forpros International, Inc. Sealight Incorporations Limited Room 1201, Connaught Commercial Building 185 Wanchai Road Wanchai, Hong Kong RT BVI', 'A', 'Active', 'STD', 'Standard Company under IBC Act', 'Mon Mar 21 00:00:00 CST 2005', '', '', '', 'Sealight Incorporations Limited Room 1201, Connaught Commercial Building 185 Wanchai Road Wanchai, Hong Kong RT BVI', 2L, 'BBC', 'BVI Business Company'),
 (190278L, 'ENTITY', 'Asia Jewelry Investments Ltd.', 'Asia Jewelry Investments Ltd. Sealight Incorporations Limited Room 1201, Connaught Commercial Building 185 Wanchai Road Wanchai, Hong Kong RT BVI', 'A', 'Active', 'STD', 'Standard Company under IBC Act', 'Mon Mar 21 00:00:00 CST 2005', '', '', '', 'Sealight Incorporations Limited Room 1201, Connaught Commercial Building 185 Wanchai Road Wanchai, Hong Kong RT BVI', 2L, 'BBC', 'BVI Business Company'),
 (190279L, 'ENTITY', 'Epoch Investment Holding Corp.', 'Epoch Investment Holding Corp. Sealight Incorporations Limited Room 1201, Connaught Commercial Building 185 Wanchai Road Wanchai, Hong Kong RT BVI', 'T', 'Transferred OUT', 'STD', 'Standard Company under IBC Act', 'Mon Mar 21 00:00:00 CST 2005', '', '', '', 'Sealight Incorporations Limited Room 1201, Connaught Commercial Building 185 Wanchai Road Wanchai, Hong Kong RT BVI', 2L, 'BBC', 'BVI Business Company'),
 (190280L, 'ENTITY', 'Port de Commerce S.A.', 'Port de Commerce S.A. Lotus Holding Company Limited 17 Elijas Street, Office 281 Riga LV-1050 Latvia RT BVI', 'Z', 'Dead', 'STD', 'Standard Company under IBC Act', 'Thu Mar 10 00:00:00 CST 2005', 'Wed Nov 01 00:00:00 CST 2006', '', '', 'Lotus Holding Company Limited 17 Elijas Street, Office 281 Riga LV-1050 Latvia RT BVI', 2L, 'IBC', 'International Business Company'),
 (190281L, 'ENTITY', 'Katzir Partners Ltd.', 'Katzir Partners Ltd. International Business Company Formation Inc. 101 Main Street Suite One Tappan, New York  10983 USA RT BVI', 'Z', 'Dead', 'STD', 'Standard Company under IBC Act', 'Thu Mar 10 00:00:00 CST 2005', 'Wed Nov 01 00:00:00 CST 2006', '', '', 'International Business Company Formation Inc. 101 Main Street Suite One Tappan, New York  10983 USA RT BVI', 2L, 'IBC', 'International Business Company'),
 (245240L, 'ADDRESS', '1802 N. University Dr. PMB# 243 Plantation, FL 33322 USA', '1802 N. University Dr. PMB# 243 Plantation, FL 33322 USA ', '', '', '', '', '', '', '', '', '', 0L, '', ''),
 (245254L, 'ADDRESS', '180B Bencoolen Street #10-01 The Bencoolen Singapore 189648', '180B Bencoolen Street #10-01 The Bencoolen Singapore 189648 ', '', '', '', '', '', '', '', '', '', 0L, '', ''),
 (245277L, 'ADDRESS', '182 E. 95th Street Apartment 26G New York, New York 10128 USA', '182 E. 95th Street Apartment 26G New York, New York 10128 USA ', '', '', '', '', '', '', '', '', '', 0L, '', ''),
 (190282L, 'ENTITY', 'Resource Centre Ventures S.A.', 'Resource Centre Ventures S.A. T & C First Secretarial Ltd. 5 Belgrave Gardens St Johns Wood London NW8 0QY England RT BVI', 'Z', 'Dead', 'STD', 'Standard Company under IBC Act', 'Fri May 03 00:00:00 CST 2002', 'Wed Nov 01 00:00:00 CST 2006', '', '', 'T & C First Secretarial Ltd. 5 Belgrave Gardens St Johns Wood London NW8 0QY England RT BVI', 2L, 'IBC', 'International Business Company'),
 (190283L, 'ENTITY', 'Quebeck Technologies Ltd.', 'Quebeck Technologies Ltd. T & C First Secretarial Ltd. 5 Belgrave Gardens St Johns Wood London NW8 0QY England RT BVI', 'Z', 'Dead', 'STD', 'Standard Company under IBC Act', 'Fri May 03 00:00:00 CST 2002', 'Wed Nov 01 00:00:00 CST 2006', '', '', 'T & C First Secretarial Ltd. 5 Belgrave Gardens St Johns Wood London NW8 0QY England RT BVI', 2L, 'IBC', 'International Business Company')]

## types and counts of node statuses

In [47]:
%%sql
select desc_status, status, nodesNW.type, COUNT(desc_status) as countdescstatus
    from nodesNW 
    GROUP BY desc_status, status, nodesNW.type;

192 rows affected.

[('', '', '', 346354L, 346354L),
 ('', '', 'Q', 580L, 580L),
 ('', '', 'QQ', 17380L, 17380L),
 ('', '', 'STD', 6L, 6L),
 ('', 'I', 'BCS', 2L, 2L),
 ('', 'Q', '', 92L, 92L),
 ('', 'Q', 'BCS', 4L, 4L),
 ('', 'Q', 'STD', 16L, 16L),
 ('', 'Q', 'TRUST', 2L, 2L),
 ('Active', 'A', '', 160L, 160L),
 ('Active', 'A', 'APT01', 128L, 128L),
 ('Active', 'A', 'APT02', 328L, 328L),
 ('Active', 'A', 'AUDT ', 2L, 2L),
 ('Active', 'A', 'BCG', 6L, 6L),
 ('Active', 'A', 'BCRP', 4L, 4L),
 ('Active', 'A', 'BCS', 32446L, 32446L),
 ('Active', 'A', 'BCSG', 4L, 4L),
 ('Active', 'A', 'BVSTR', 2L, 2L),
 ('Active', 'A', 'BVTRU', 210L, 210L),
 ('Active', 'A', 'CAP', 6L, 6L),
 ('Active', 'A', 'CIS', 6L, 6L),
 ('Active', 'A', 'CIT', 216L, 216L),
 ('Active', 'A', 'CODOM', 206L, 206L),
 ('Active', 'A', 'FOR', 138L, 138L),
 ('Active', 'A', 'GRA', 2L, 2L),
 ('Active', 'A', 'HKT', 28L, 28L),
 ('Active', 'A', 'HOL', 2L, 2L),
 ('Active', 'A', 'LAT', 2L, 2L),
 ('Active', 'A', 'LIQ', 2L, 2L),
 ('Active', 'A', 'LLC', 26L, 26L),
 ('Active', 'A', 'LP', 2L, 2L),
 ('Active', 'A', 'MINT', 14L, 14L),
 ('Active', 'A', 'MUTA', 4L, 4L),
 ('Active', 'A', 'MUTM', 204L, 204L),
 ('Active', 'A', 'MUTP', 2L, 2L),
 ('Active', 'A', 'MUTUA', 152L, 152L),
 ('Active', 'A', 'MUTV', 2L, 2L),
 ('Active', 'A', 'NEV', 12L, 12L),
 ('Active', 'A', 'NLLC', 40L, 40L),
 ('Active', 'A', 'NOMNC', 46L, 46L),
 ('Active', 'A', 'PART', 20L, 20L),
 ('Active', 'A', 'PFOUN', 2L, 2L),
 ('Active', 'A', 'PRIV', 20L, 20L),
 ('Active', 'A', 'PTC', 2L, 2L),
 ('Active', 'A', 'Q', 2L, 2L),
 ('Active', 'A', 'SAM', 2L, 2L),
 ('Active', 'A', 'SAT', 8L, 8L),
 ('Active', 'A', 'SEM', 6L, 6L),
 ('Active', 'A', 'SEY', 2L, 2L),
 ('Active', 'A', 'SGT', 44L, 44L),
 ('Active', 'A', 'SHIPS', 6L, 6L),
 ('Active', 'A', 'STD', 57426L, 57426L),
 ('Active', 'A', 'STDO', 2L, 2L),
 ('Active', 'A', 'SUND', 2L, 2L),
 ('Active', 'A', 'TCI', 12L, 12L),
 ('Active', 'A', 'TRUST', 46L, 46L),
 ('Active', 'A', 'UK', 4L, 4L),
 ('Client Sundry Account', 'Q', 'QQ', 4L, 4L),
 ('Client Sundry Account', 'Q', 'STD', 2L, 2L),
 ('Company liquidated', 'X', 'AUDT ', 2L, 2L),
 ('Company liquidated', 'X', 'BCS', 42L, 42L),
 ('Company liquidated', 'X', 'CODOM', 16L, 16L),
 ('Company liquidated', 'X', 'MUT', 2L, 2L),
 ('Company liquidated', 'X', 'STD', 1420L, 1420L),
 ('Company liquidated', 'X', 'SUND', 2L, 2L),
 ('Dead', 'Z', '', 3662L, 3662L),
 ('Dead', 'Z', 'ANT', 8L, 8L),
 ('Dead', 'Z', 'BAH', 78L, 78L),
 ('Dead', 'Z', 'BCG', 2L, 2L),
 ('Dead', 'Z', 'BCRP', 2L, 2L),
 ('Dead', 'Z', 'BCS', 10892L, 10892L),
 ('Dead', 'Z', 'BCSG', 6L, 6L),
 ('Dead', 'Z', 'BEL', 44L, 44L),
 ('Dead', 'Z', 'GRA', 88L, 88L),
 ('Dead', 'Z', 'HK', 4L, 4L),
 ('Dead', 'Z', 'LP', 6L, 6L),
 ('Dead', 'Z', 'MAILO', 8L, 8L),
 ('Dead', 'Z', 'MAU', 94L, 94L),
 ('Dead', 'Z', 'MHYBD', 34L, 34L),
 ('Dead', 'Z', 'MIALO', 2L, 2L),
 ('Dead', 'Z', 'MINT', 16L, 16L),
 ('Dead', 'Z', 'MOFF', 2L, 2L),
 ('Dead', 'Z', 'MUT', 4L, 4L),
 ('Dead', 'Z', 'NEV', 28L, 28L),
 ('Dead', 'Z', 'NLLC', 32L, 32L),
 ('Dead', 'Z', 'PAN', 12L, 12L),
 ('Dead', 'Z', 'Q', 2L, 2L),
 ('Dead', 'Z', 'SAM', 4L, 4L),
 ('Dead', 'Z', 'SEY', 6L, 6L),
 ('Dead', 'Z', 'STD', 31046L, 31046L),
 ('Dead', 'Z', 'TCI', 70L, 70L),
 ('Dead', 'Z', 'TRUST', 2L, 2L),
 ('Dead', 'Z', 'UK', 36L, 36L),
 ('Discontinuance', 'D', '', 2L, 2L),
 ('Discontinuance', 'D', 'BCS', 10L, 10L),
 ('Discontinuance', 'D', 'STD', 62L, 62L),
 ('In Formation', 'F', 'APT01', 2L, 2L),
 ('In Formation', 'F', 'BCS', 134L, 134L),
 ('In Formation', 'F', 'CIT', 2L, 2L),
 ('In Formation', 'F', 'NLLC', 2L, 2L),
 ('In Formation', 'F', 'SHIPS', 2L, 2L),
 ('In Formation', 'F', 'STD', 76L, 76L),
 ('In Liquidation', 'L', 'BCS', 4L, 4L),
 ('In Liquidation', 'L', 'CODOM', 24L, 24L),
 ('In Liquidation', 'L', 'STD', 146L, 146L),
 ('Inactive', 'I', 'APT01', 2L, 2L),
 ('Inactive', 'I', 'BVTRU', 2L, 2L),
 ('Inactive', 'I', 'SGT', 2L, 2L),
 ('Inactive', 'I', 'STD', 44L, 44L),
 ('Liquidated', 'L', '', 2L, 2L),
 ('Liquidated', 'L', 'BCS', 302L, 302L),
 ('Liquidated', 'L', 'BEL', 2L, 2L),
 ('Liquidated', 'L', 'FOR', 2L, 2L),
 ('Liquidated', 'L', 'GRA', 150L, 150L),
 ('Liquidated', 'L', 'NEV', 4L, 4L),
 ('Liquidated', 'L', 'NLLC', 4L, 4L),
 ('Liquidated', 'L', 'STD', 1184L, 1184L),
 ('Liquidated', 'L', 'UK', 2L, 2L),
 ('Liquidation in Progress', 'U', 'BCS', 8L, 8L),
 ('Liquidation in Progress', 'U', 'STD', 24L, 24L),
 ('Not Renewed by Client', 'N', 'STD', 2L, 2L),
 ('Not To Be Renewed / In Deregistration', 'N', 'APT01', 10L, 10L),
 ('Not To Be Renewed / In Deregistration', 'N', 'APT02', 28L, 28L),
 ('Not To Be Renewed / In Deregistration', 'N', 'AUDT', 2L, 2L),
 ('Not To Be Renewed / In Deregistration', 'N', 'BCS', 250L, 250L),
 ('Not To Be Renewed / In Deregistration', 'N', 'CIT', 22L, 22L),
 ('Not To Be Renewed / In Deregistration', 'N', 'CODOM', 8L, 8L),
 ('Not To Be Renewed / In Deregistration', 'N', 'LIQ', 4L, 4L),
 ('Not To Be Renewed / In Deregistration', 'N', 'MUTM', 2L, 2L),
 ('Not To Be Renewed / In Deregistration', 'N', 'NOMNC', 2L, 2L),
 ('Not To Be Renewed / In Deregistration', 'N', 'STD', 998L, 998L),
 ('Redomiciled', 'D', 'BCS', 2L, 2L),
 ('Redomiciled', 'D', 'STD', 56L, 56L),
 ('Shelf', 'S', 'BCS', 330L, 330L),
 ('Shelf', 'S', 'MUTUA', 2L, 2L),
 ('Shelf', 'S', 'STD', 900L, 900L),
 ('Struck / Defunct / Deregistered', 'Z', 'APT01', 846L, 846L),
 ('Struck / Defunct / Deregistered', 'Z', 'APT02', 498L, 498L),
 ('Struck / Defunct / Deregistered', 'Z', 'AUDT ', 88L, 88L),
 ('Struck / Defunct / Deregistered', 'Z', 'BCS', 3766L, 3766L),
 ('Struck / Defunct / Deregistered', 'Z', 'BRRG ', 6L, 6L),
 ('Struck / Defunct / Deregistered', 'Z', 'BVTRU', 82L, 82L),
 ('Struck / Defunct / Deregistered', 'Z', 'CIT', 222L, 222L),
 ('Struck / Defunct / Deregistered', 'Z', 'CODOM', 528L, 528L),
 ('Struck / Defunct / Deregistered', 'Z', 'LAT', 2L, 2L),
 ('Struck / Defunct / Deregistered', 'Z', 'MUTP', 8L, 8L),
 ('Struck / Defunct / Deregistered', 'Z', 'NOMNC', 152L, 152L),
 ('Struck / Defunct / Deregistered', 'Z', 'PART', 8L, 8L),
 ('Struck / Defunct / Deregistered', 'Z', 'SAT', 8L, 8L),
 ('Struck / Defunct / Deregistered', 'Z', 'SGT', 4L, 4L),
 ('Struck / Defunct / Deregistered', 'Z', 'STD', 32714L, 32714L),
 ('Struck / Defunct / Deregistered', 'Z', 'STDR', 2L, 2L),
 ('Struck / Defunct / Deregistered', 'Z', 'SUND', 38L, 38L),
 ('Sundry Account', 'q', 'STD', 2L, 2L),
 ('Sundry Account', 'q', 'UK', 4L, 4L),
 ('Transferred OUT', 'T', '', 296L, 296L),
 ('Transferred Out', 'T', 'APT01', 78L, 78L),
 ('Transferred Out', 'T', 'APT02', 12L, 12L),
 ('Transferred OUT', 'T', 'BAH', 6L, 6L),
 ('Transferred OUT', 'T', 'BCS', 2054L, 2054L),
 ('Transferred OUT', 'T', 'BCSG', 8L, 8L),
 ('Transferred OUT', 'T', 'BEL', 92L, 92L),
 ('Transferred Out', 'T', 'CIT', 12L, 12L),
 ('Transferred Out', 'T', 'CODOM', 140L, 140L),
 ('Transferred OUT', 'T', 'GRA', 14L, 14L),
 ('Transferred OUT', 'T', 'HK', 2L, 2L),
 ('Transferred OUT', 'T', 'Mau', 8L, 8L),
 ('Transferred OUT', 'T', 'MHYBD', 2L, 2L),
 ('Transferred Out', 'T', 'MUTP', 4L, 4L),
 ('Transferred Out', 'T', 'NOMNC', 8L, 8L),
 ('Transferred Out', 'T', 'PRIV', 2L, 2L),
 ('Transferred Out', 'T', 'STD', 6148L, 6148L),
 ('Transferred OUT', 'T', 'UK', 2L, 2L),
 ('Un Registered', 'U', 'APT01', 22L, 22L),
 ('Un Registered', 'U', 'APT02', 8L, 8L),
 ('Un Registered', 'U', 'AUDT ', 6L, 6L),
 ('Un Registered', 'U', 'CIT', 18L, 18L),
 ('Un Registered', 'U', 'CODOM', 2L, 2L),
 ('Un Registered', 'U', 'NOMNC', 4L, 4L),
 ('Un Registered', 'U', 'PART ', 4L, 4L),
 ('Un Registered', 'U', 'STD', 118L, 118L),
 ('Vesting', 'V', 'APT01', 6L, 6L),
 ('Vesting', 'V', 'APT02', 16L, 16L),
 ('Vesting', 'V', 'BVTRU', 30L, 30L),
 ('Vesting', 'V', 'CIT', 14L, 14L),
 ('Vesting', 'V', 'HKT', 2L, 2L),
 ('Vesting', 'V', 'NOMNC', 4L, 4L),
 ('Vesting', 'V', 'SAT', 4L, 4L),
 ('We resigned as registered agent', 'R', '', 122L, 122L),
 ('We resigned as registered agent', 'R', 'BCS', 14L, 14L),
 ('We resigned as registered agent', 'R', 'STD', 182L, 182L),
 ('We resigned as registered agent', 'R', 'UK', 2L, 2L)]

## look at a bunch of distinct values for these columns

In [101]:
%%sql
select 
(SELECT group_concat(DISTINCT status) FROM nodesNW) as status,
(SELECT group_concat(DISTINCT desc_status) FROM nodesNW) as desc_status,
(SELECT group_concat(DISTINCT desc_company_type) FROM nodesNW) as desc_company_type,
(SELECT group_concat(DISTINCT inc_dat) FROM nodesNW) as inc_dat,
(SELECT group_concat(DISTINCT dorm_dat) FROM nodesNW) as dorm_dat,
(SELECT group_concat(DISTINCT juris) FROM nodesNW) as juris,
(SELECT group_concat(DISTINCT desc_jurisdiction) FROM nodesNW) as desc_jurisdiction,
(SELECT group_concat(DISTINCT nodesNW.type) FROM nodesNW) as nodestype,
(SELECT group_concat(DISTINCT agencyID) FROM nodesNW) as agencyID,
(SELECT group_concat(DISTINCT tax_stat) FROM nodesNW) as tax_stat,
(SELECT group_concat(DISTINCT tax_stat_description) FROM nodesNW) as tax_stat_description;

1 rows affected.

/Library/Python/2.7/site-packages/sqlalchemy/engine/default.py:450: Warning: Row 49 was cut by GROUP_CONCAT()
  cursor.execute(statement, parameters)
/Library/Python/2.7/site-packages/sqlalchemy/engine/default.py:450: Warning: Row 37 was cut by GROUP_CONCAT()
  cursor.execute(statement, parameters)
/Library/Python/2.7/site-packages/sqlalchemy/engine/default.py:450: Warning: Row 52 was cut by GROUP_CONCAT()
  cursor.execute(statement, parameters)

[(',A,Z,S,L,T,N,X,Q,F,V,D,I,U,R', ',Active,Dead,Shelf,Liquidated,Transferred OUT,Struck / Defunct / Deregistered,Not To Be Renewed / In Deregistration,Company liquidated,In Liquidation,In Formation,Client Sundry Account,Vesting,Redomiciled,Inactive,Un Registered,We resigned as registered agent,Discontinuance,Liquidation in Progress,Sundry Account,Not Renewed by Client', ',Business Company Limited by Shares,Standard Company under IBC Act,The GRA group of Companies for express Co.,Sundry Account,Standard International Company,Domestic Company,BVI Sundry Entities (one off transactions),Professional Mutual Fund,Client Sundry Account,BVI Trust,Trust,Limited Partnership,Partnership,Turks,Cook Islands Asset Protection Trust,Cook Islands Trust,Hong Kong Trust,Mutual Fund,Cook Islands Asset Protection Trust - 3520A,UK Register,Mauritius - International,Mutual Fund Administrator,Mutual Fund Manager,Standard - Redomiciled,Nominee Only Entity,Holding Company,Private Mutual Fund,BVI Share Trust,Limited Liability Company,Hong Kong,Nevis - Limited Liability Company,Belize International Business Company,Bahamas IBC,Singapore Trust,Private Company Limited By Shares,Collective Investment Scheme,Private Trust Company,Liquidator Licence,Seminar / Workshop,Audit Licence,CAP 285,SHIP REGISTRATIONS,Nevis Company,Samoa,Busines Company Limited by Shares & Guarantee,Panama - IBC,Mauritius - Hybrid,Bus', ',Mon Apr 21 00:00:00 CST 2008,Fri Jul 06 00:00:00 CST 2007,Fri Aug 24 00:00:00 CST 2007,Fri Jan 02 00:00:00 CST 2004,Tue Nov 20 00:00:00 CST 2007,Mon Dec 04 00:00:00 CST 2006,Tue May 07 00:00:00 CST 1996,Fri Nov 26 00:00:00 CST 2004,Tue May 09 00:00:00 CST 2000,Thu Jun 14 00:00:00 CST 2007,Thu Jul 12 00:00:00 CST 2007,Mon Jun 15 00:00:00 CST 1998,Thu Sep 13 00:00:00 CST 2007,Fri Mar 22 00:00:00 CST 1996,Wed Jan 03 00:00:00 CST 1996,Thu Dec 18 00:00:00 CST 2003,Mon Sep 29 00:00:00 CST 1997,Tue Feb 27 00:00:00 CST 1996,Fri Apr 25 00:00:00 CST 2003,Tue May 28 00:00:00 CST 1996,Fri Sep 30 00:00:00 CST 2005,Wed Jul 04 00:00:00 CST 2007,Thu Nov 06 00:00:00 CST 1997,Thu Nov 15 00:00:00 CST 2001,Tue Nov 20 00:00:00 CST 2001,Fri Nov 07 00:00:00 CST 1997,Mon Jun 22 00:00:00 CST 1998,Tue Jun 23 00:00:00 CST 1998,Tue Jun 16 00:00:00 CST 1998,Mon May 06 00:00:00 CST 2002,Mon May 13 00:00:00 CST 2002,Tue May 14 00:00:00 CST 2002,Tue May 07 00:00:00 CST 2002,Wed May 15 00:00:00 CST 2002,Mon Jan 01 00:00:00 CST 2001,Fri May ', ',Fri May 01 00:00:00 CST 2009,Tue May 01 00:00:00 CST 2007,Thu Nov 01 00:00:00 CST 2007,Wed May 01 00:00:00 CST 2002,Thu May 01 00:00:00 CST 2008,Mon May 01 00:00:00 CST 2006,Fri May 01 00:00:00 CST 1998,Sun May 01 00:00:00 CST 2005,Sun Nov 01 00:00:00 CST 2009,Sat Nov 01 00:00:00 CST 2003,Mon Nov 01 00:00:00 CST 2004,Wed Aug 02 00:00:00 CST 2006,Wed Nov 01 00:00:00 CST 2006,Sat Nov 01 00:00:00 CST 2008,Tue Nov 01 00:00:00 CST 2005,Mon Mar 20 00:00:00 CST 2000,Tue Jun 02 00:00:00 CST 2009,Fri Nov 01 00:00:00 CST 2002,Thu May 01 00:00:00 CST 2003,Wed Jun 03 00:00:00 CST 2009,Sat May 01 00:00:00 CST 2004,Thu Dec 27 00:00:00 CST 2007,Thu May 16 00:00:00 CST 2002,Fri Jul 23 00:00:00 CST 1999,Wed Oct 16 00:00:00 CST 2002,Wed Apr 30 00:00:00 CST 2003,Tue May 24 00:00:00 CST 2005,Wed Aug 14 00:00:00 CST 2002,Wed Oct 18 00:00:00 CST 2000,Mon Feb 26 00:00:00 CST 2007,Mon Jun 02 00:00:00 CST 2003,Tue Jun 03 00:00:00 CST 2003,Wed May 07 00:00:00 CST 2008,Thu Feb 09 00:00:00 CST 2006,Fri Jan 30 00:00:00 CST 2004,Tue Apr ', ',BVI,SAM,HK,CAYMN,Sing,LABUA,MAURI,SEYCH,FUND,COOK ,THAIL,DUBAI,MALAY,LIBER,BAHAM,CHINA,MARSH,PANAM,NETH,STLU,UK,USA,VANU,CYPRS,BERMU,BRUN,IRELD', ',British Virgin Islands,Samoa,Hong Kong,Cayman,Singapore,Labuan,Mauritius,Seychelles,Fund Administration,Cook Islands,Thailand,Dubai,Malaysia,Liberia,Bahamas,China,Marshall Islands,Panama,Netherlands,St. Lucia,United Kingdom,United States of America,Vanuatu,Cyprus,Bermuda,Brunei,Ireland', ',BCS,STD,GRA,Q,CODOM,SUND,MUTP,QQ,BVTRU,TRUST,LP,PART,TCI,APT01,CIT,HKT,MUTUA,AUDT ,APT02,UK,MINT,MUTA,MUTM,MUT,STDR,NOMNC,HOL,MUTV,BVSTR,LLC,HK,NLLC,BEL,BAH,BRRG ,LAT,SGT,PRIV,CIS,PTC,SAT,LIQ,SEM,CAP,SHIPS,NEV,SAM,BCSG,PAN,MAU,MHYBD,BCG,FOR,PFOUN,STDO,BCRP,SEY,MIALO,ANT,MAILO,MOFF', '1,2,0', ',BBC,IBC,Q,BVIBC,CAP,SUND,PAIBC,QQQ,TRUST,NA,SAIC,PAR,HKDOM,LP,CYEXE,SPC,APT02,CIT,HKTRU,LABCO,MAGB2,SEIBC,CYMAN,FRGN,AUD,ICC,APT,MAUR,NOMNC,BVSTR,SGDOM,MAGB1,CYNR,DUOFF,MALSB,SECSL,FUMAN,MAOS,CYFUN,CIPAR,LIBCO,BRRG,SALTC,SADOM,FUFUN,LABTR,BAIBC,CHDOM,MIIBC,NEDBV,STIBC,UKDOM,USDOM,VAIBC,VADOM,LABFO,SGTRU,MALB,PCC,CYPRI,SGUNT,CYRES,CYLLC,BRIBC,DELLC,BERCO,BATRU,LABOF,CIDOM,SATRU,THIA,INRC ,LIQ,SEM,EQRED,IBB', ",BVI Business Company,International Business Company,Sundry Account,BVI International Business Company,BVI CAP,BVI Sundry Entities (one off transactions),Panamanian IBC,Client,BVI Trust,Samoa International Company,Partnership,HK Domestic Company,Trust,Limited Partnership,Cayman Exempt,Special Company - IBC where CTL not registered office,CI Trust,HK Trust,Labuan Offshore Company,Mauritius GBL2,Seychellian IBC,Cayman Exempt - Fund Manager,Non-BVI Company,CI Auditor,CI International Company,CI Asset Protection Trust,Mauritius Company,Special Company (where TNET doesn't pay licence fee),Nominee Only Entity,Not Applicable,BVI Share Trust,Singapore Domestic Company,Mauritius GBL1,Cayman Non Resident,Dubai Offshore Company,Malaysia Sdn Behard,Seychellian Company Special Licence,Maruritius Offshore,CAP,Cayman Exempt - Fund Structure,CI Partnership,Liberian Company,Branch Register,Samoa Long Term Company,Samoan Domestic Company,Labuan Trust,Bahamas IBC,Chinnese Domestic Company,Marshall Islands IBC,Netherlands BV,St ")]

## explore edges_1DW2 table

In [143]:
%%sql
select * from edges_1DNW2 limit 10; #are entity IDs node ids?

10 rows affected.

[(171253L, 102767L, 124901L, 'Assistant Secretary', '', '', 1L, '\xe5\x8a\xa9\xe7\x90\x86\xe7\xa7\x98\xe4\xb9\xa6', 'EO'),
 (336222L, 118470L, 167808L, 'Auditor', '', '', 1L, '\xe5\xae\xa1\xe8\xae\xa1', 'EO'),
 (336223L, 48124L, 167808L, 'Auditor', '', '', 1L, '\xe5\xae\xa1\xe8\xae\xa1', 'EO'),
 (336224L, 61547L, 167808L, 'Auditor', '', '', 1L, '\xe5\xae\xa1\xe8\xae\xa1', 'EO'),
 (336256L, 89570L, 123436L, 'Authorised Person / Signatory', '', '', 1L, '\xe6\x8e\x88\xe6\x9d\x83\xe4\xba\xba/\xe7\xad\xbe\xe7\xbd\xb2\xe4\xba\xba', 'EO'),
 (336272L, 102537L, 129198L, 'Authorised Person / Signatory', '', '', 1L, '\xe6\x8e\x88\xe6\x9d\x83\xe4\xba\xba/\xe7\xad\xbe\xe7\xbd\xb2\xe4\xba\xba', 'EO'),
 (336433L, 116314L, 167376L, 'Authorised Person / Signatory', '', '', 1L, '\xe6\x8e\x88\xe6\x9d\x83\xe4\xba\xba/\xe7\xad\xbe\xe7\xbd\xb2\xe4\xba\xba', 'EO'),
 (336434L, 47285L, 167376L, 'Authorised Person / Signatory', '', '', 1L, '\xe6\x8e\x88\xe6\x9d\x83\xe4\xba\xba/\xe7\xad\xbe\xe7\xbd\xb2\xe4\xba\xba', 'EO'),
 (336435L, 117588L, 167381L, 'Authorised Person / Signatory', '', '', 1L, '\xe6\x8e\x88\xe6\x9d\x83\xe4\xba\xba/\xe7\xad\xbe\xe7\xbd\xb2\xe4\xba\xba', 'EO'),
 (336439L, 45928L, 167378L, 'Authorised Person / Signatory', '', '', 1L, '\xe6\x8e\x88\xe6\x9d\x83\xe4\xba\xba/\xe7\xad\xbe\xe7\xbd\xb2\xe4\xba\xba', 'EO')]

## look at the times entity_ID1 or 2 participated in an edge.

In [49]:
%%sql
select Entity_ID1, COUNT(*) AS times_entity1
    FROM edges_1DNW2
    GROUP BY Entity_ID1
    ORDER BY times_entity1 DESC
    limit 20;

20 rows affected.

[(54662L, 36373L),
 (298333L, 5700L),
 (96909L, 4270L),
 (298293L, 3897L),
 (49684L, 3363L),
 (294268L, 3339L),
 (75595L, 2694L),
 (297687L, 2672L),
 (58922L, 2349L),
 (298258L, 2195L),
 (298170L, 2097L),
 (24883L, 2048L),
 (20642L, 1994L),
 (43724L, 1868L),
 (298166L, 1722L),
 (298147L, 1612L),
 (295141L, 1453L),
 (50622L, 1422L),
 (56917L, 1274L),
 (298020L, 1218L)]

In [50]:
%%sql
select Entity_ID2, COUNT(*) AS times_entity2
    FROM edges_1DNW2
    GROUP BY Entity_ID2
    ORDER BY times_entity2 DESC
    LIMIT 20;

20 rows affected.

[(236724L, 37338L),
 (288469L, 5699L),
 (285729L, 3896L),
 (264051L, 2671L),
 (279944L, 2194L),
 (237583L, 2096L),
 (237076L, 1858L),
 (271169L, 1721L),
 (237148L, 1615L),
 (236832L, 1612L),
 (236748L, 1433L),
 (271677L, 1217L),
 (263996L, 1136L),
 (260937L, 1002L),
 (263908L, 954L),
 (264050L, 739L),
 (268974L, 659L),
 (268654L, 557L),
 (279221L, 545L),
 (260014L, 520L)]

## can i join the nodes and edges on uniqueid?

## look at distinct values in edges_1DW2 table

In [159]:
%%sql
select 
(SELECT group_concat(DISTINCT description) FROM edges_1DNW2) as description,
(SELECT group_concat(DISTINCT linkType) FROM edges_1DNW2) as linkType,
(SELECT group_concat(DISTINCT date_to) FROM edges_1DNW2) as date_to,
(select group_concat(DISTINCT date_from) from edges_1DNW2) as date_from; #this isn't giving complete information

1 rows affected.

[('Assistant Secretary,Auditor,Authorised Person / Signatory,Bank Signatory,Beneficial Owner,Beneficiary,Correspondent Addr.,Co-Trustee of Trust,Director,Investment Advisor,Legal Advisor,Master Client,Nominated Person,Nominee Beneficial Owner,Nominee Beneficiary,Nominee Director,Nominee Investment Advisor,Nominee Protector,Nominee Secretary,Nominee Shareholder,Nominee Trust Settlor,Officer,Partner,President,Protector,Records & Registers,registered address,related company,Secretary,Shareholder,Trust Settlor,Trustee of Trust,Alternate Director,Auth. Representative,Joint Settlor,General Accountant,Appointor,Unit Trust Register,Resident Director,Stockbroker,Treasurer,Vice President,Successor Protector,Personal Directorship,Tax Advisor,Chairman,Safekeeping,Reserve Director,Nominee Name,Register of Director,Register of Shareholder,Custodian,Board Representative', 'EO,EU,EI,OU,EA,OA,IA,UA,EE', ',Thu May 24 00:00:00 CST 1990,Mon Mar 15 00:00:00 CST 1993,Wed Apr 07 00:00:00 CST 1993,Mon May 31 00:00:00 CST 1993,Thu Jan 06 00:00:00 CST 1994,Fri Jul 15 00:00:00 CST 1994,Fri Sep 02 00:00:00 CST 1994,Fri Oct 07 00:00:00 CST 1994,Thu Oct 13 00:00:00 CST 1994,Wed Jan 04 00:00:00 CST 1995,Sat Jun 10 00:00:00 CST 1995,Wed Jul 05 00:00:00 CST 1995,Mon Jul 10 00:00:00 CST 1995,Mon Sep 18 00:00:00 CST 1995,Mon Oct 23 00:00:00 CST 1995,Tue Oct 31 00:00:00 CST 1995,Fri Nov 17 00:00:00 CST 1995,Thu Nov 23 00:00:00 CST 1995,Mon Dec 04 00:00:00 CST 1995,Thu Dec 21 00:00:00 CST 1995,Wed Jan 03 00:00:00 CST 1996,Fri Feb 16 00:00:00 CST 1996,Thu Feb 29 00:00:00 CST 1996,Fri Mar 01 00:00:00 CST 1996,Wed Mar 20 00:00:00 CST 1996,Sun Mar 31 00:00:00 CST 1996,Wed Apr 03 00:00:00 CST 1996,Fri Jun 14 00:00:00 CST 1996,Sat Jul 20 00:00:00 CST 1996,Wed Aug 07 00:00:00 CST 1996,Wed Oct 09 00:00:00 CST 1996,Thu Oct 17 00:00:00 CST 1996,Tue Oct 29 00:00:00 CST 1996,Mon Dec 09 00:00:00 CST 1996,Thu Dec 12 00:00:00 CST 1996,Tue Jan ', ',Wed Jan 03 00:00:00 CST 1900,Sat Jan 06 00:00:00 CST 1900,Mon Jan 08 00:00:00 CST 1900,Wed Jan 10 00:00:00 CST 1900,Thu Jan 11 00:00:00 CST 1900,Sat Jan 13 00:00:00 CST 1900,Thu Jan 18 00:00:00 CST 1900,Sat Jan 20 00:00:00 CST 1900,Wed Jan 24 00:00:00 CST 1900,Fri Jan 26 00:00:00 CST 1900,Sun Jan 28 00:00:00 CST 1900,Wed Jan 31 00:00:00 CST 1900,Fri Feb 02 00:00:00 CST 1900,Wed Feb 14 00:00:00 CST 1900,Sat Feb 17 00:00:00 CST 1900,Wed Feb 28 00:00:00 CST 1900,Sat Mar 03 00:00:00 CST 1900,Tue Mar 06 00:00:00 CST 1900,Fri Mar 09 00:00:00 CST 1900,Wed Mar 14 00:00:00 CST 1900,Sun Mar 18 00:00:00 CST 1900,Wed Mar 21 00:00:00 CST 1900,Sat Mar 24 00:00:00 CST 1900,Tue Mar 27 00:00:00 CST 1900,Thu Apr 12 00:00:00 CST 1900,Fri Apr 13 00:00:00 CST 1900,Wed Apr 25 00:00:00 CST 1900,Sat May 05 00:00:00 CST 1900,Sat May 12 00:00:00 CST 1900,Fri May 25 00:00:00 CST 1900,Fri Jun 01 00:00:00 CST 1900,Fri Jan 03 00:00:00 CST 1930,Tue Oct 07 00:00:00 CST 1930,Mon Dec 08 00:00:00 CST 1930,Sat Jan 03 00:00:00 CST 1931,Thu Feb ')]

## practicing/attempting to format dates

In [158]:
%%sql
select date_to, DATE_FORMAT(date_to, '%a %b %d %y') AS nicedate
    FROM edges_1DNW2
    WHERE Unique_ID = '116389';

1 rows affected.

[('Tue Feb 10 00:00:00 CST 2004', None)]

In [26]:
%%sql
select date_to, cast(date_to as DATETIME) AS okdate
    FROM edges_1DNW2
    WHERE Unique_ID = '116389';

1 rows affected.

/Library/Python/2.7/site-packages/sqlalchemy/engine/default.py:450: Warning: Incorrect datetime value: 'Tue Feb 10 00:00:00 CST 2004'
  cursor.execute(statement, parameters)

[('Tue Feb 10 00:00:00 CST 2004', None)]

In [167]:
%%sql
SELECT date_to 
    FROM edges_1DNW2
    SET date_to str_to_date(preg_replace('/[A-Z][A-Z][A-Z]/','',date_to),'%a %b %d %H:%i:%s %y') AS okdate
    WHERE Unique_ID = '116389';

(_mysql_exceptions.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'SET date_to str_to_date(preg_replace('/[A-Z][A-Z][A-Z]/','',date_to),'%a %b %d %' at line 3") [SQL: u"SELECT date_to \n    FROM edges_1DNW2\n    SET date_to str_to_date(preg_replace('/[A-Z][A-Z][A-Z]/','',date_to),'%%a %%b %%d %%H:%%i:%%s %%y') AS okdate\n    WHERE Unique_ID = '116389';"]

In [64]:
%%sql #removed the time which was not informative, many dates are weird, either into the future or the 1900s
select DISTINCT(concat(substring(date_to,1,10), substring(date_to,24,28 ))) AS okdate
    FROM edges_1DNW2
    LIMIT 10;

10 rows affected.

[('',),
 ('Thu May 24 1990',),
 ('Mon Mar 15 1993',),
 ('Wed Apr 07 1993',),
 ('Mon May 31 1993',),
 ('Thu Jan 06 1994',),
 ('Fri Jul 15 1994',),
 ('Fri Sep 02 1994',),
 ('Fri Oct 07 1994',),
 ('Thu Oct 13 1994',)]

In [71]:
%%sql 
select DISTINCT(concat(substring(date_from,4,8), substring(date_from,24,28 ))) AS okdate
    FROM edges_1DNW2
    LIMIT 10;

10 rows affected.

[('',),
 (' Jan 03  1900',),
 (' Jan 06  1900',),
 (' Jan 08  1900',),
 (' Jan 10  1900',),
 (' Jan 11  1900',),
 (' Jan 13  1900',),
 (' Jan 18  1900',),
 (' Jan 20  1900',),
 (' Jan 24  1900',)]

## what are the most common link types?

In [141]:
%%sql
select linkType, COUNT(linkType) AS linkTypecount
    FROM edges_1DNW2
    GROUP BY linkType
    ORDER BY linkTypecount DESC;

9 rows affected.

[('EO', 287343L),
 ('EI', 105487L),
 ('EA', 88313L),
 ('OA', 66751L),
 ('IA', 9304L),
 ('EU', 1338L),
 ('EE', 1244L),
 ('OU', 1238L),
 ('UA', 997L)]

## how often does each particular description serve as an edge?

In [66]:
%%sql
select description, COUNT(*) AS times_edge
    from edges_1DNW2
    GROUP BY description
    ORDER BY times_edge DESC
    LIMIT 20;

20 rows affected.

[('registered address', 165365L),
 ('Director', 118541L),
 ('Master Client', 105487L),
 ('Shareholder', 105397L),
 ('Records & Registers', 36318L),
 ('Secretary', 14348L),
 ('Beneficiary', 4030L),
 ('Beneficial Owner', 1793L),
 ('Trustee of Trust', 1418L),
 ('related company', 1244L),
 ('Trust Settlor', 1234L),
 ('Authorised Person / Signatory', 1229L),
 ('Protector', 1197L),
 ('Nominee Shareholder', 1130L),
 ('Assistant Secretary', 583L),
 ('Alternate Director', 409L),
 ('Co-Trustee of Trust', 320L),
 ('Officer', 281L),
 ('Resident Director', 272L),
 ('Auditor', 207L)]

## were there dates were most transactions took place?

In [72]:
%%sql
select concat(substring(date_from,4,8), substring(date_from,24,28 )) AS datefrom, COUNT(date_from) AS datefromcount
    FROM edges_1DNW2
    GROUP BY date_from
    ORDER BY datefromcount DESC
    LIMIT 10;

10 rows affected.

[('', 331744L),
 (' Jul 20  2007', 551L),
 (' Apr 30  2007', 505L),
 (' Feb 25  2008', 425L),
 (' Jan 02  2008', 416L),
 (' Jul 03  2007', 415L),
 (' Jan 03  2006', 389L),
 (' Jul 05  2006', 377L),
 (' Dec 03  2007', 349L),
 (' Sep 29  1998', 345L)]

In [78]:
%%sql
select concat(substring(date_to,4,8), substring(date_to,24,28 )) AS dateto, COUNT(date_to) AS datetocount
    FROM edges_1DNW2
    GROUP BY date_to
    ORDER BY datetocount DESC
    LIMIT 10;

10 rows affected.

[('', 531907L),
 (' Apr 30  2007', 212L),
 (' Feb 16  2009', 163L),
 (' Jun 14  2000', 154L),
 (' Sep 29  1998', 141L),
 (' Apr 17  2002', 131L),
 (' Jun 10  2005', 123L),
 (' Mar 15  2002', 102L),
 (' Jun 01  2006', 86L),
 (' Nov 28  2005', 72L)]

## looking at joining the nodes and entities (thanks to Tolga, I looked at your work to figure this out)
https://github.com/btolga/SQL_Challenge_Offshore/blob/master/results

In [ ]:
first remembering what the columns of those tables are

In [53]:
%%sql
select * FROM edges_1DNW2
    LIMIT 1;

1 rows affected.

[(171253L, 102767L, 124901L, 'Assistant Secretary', '', '', 1L, '\xe5\x8a\xa9\xe7\x90\x86\xe7\xa7\x98\xe4\xb9\xa6', 'EO')]

In [55]:
%%sql
select * FROM node_countriesNW
    LIMIT 1;

1 rows affected.

[(118720L, 'HK', 'Hong Kong', 110L)]

In [60]:
%%sql
SELECT n.node_id, e.Entity_ID1, n.country_name, e.description
    FROM node_countriesNW n JOIN edges_1DNW2 e ON n.node_id=e.Entity_ID1
    WHERE e.direction = 1
    LIMIT 20;

20 rows affected.

[(118811L, 118811L, 'Singapore', 'Beneficial Owner'),
 (118821L, 118821L, 'Hong Kong', 'Authorised Person / Signatory'),
 (118821L, 118821L, 'Hong Kong', 'Beneficial Owner'),
 (118854L, 118854L, 'Hong Kong', 'Beneficial Owner'),
 (118886L, 118886L, 'Indonesia', 'Beneficial Owner'),
 (119115L, 119115L, 'Singapore', 'Master Client'),
 (119153L, 119153L, 'Indonesia', 'Master Client'),
 (119153L, 119153L, 'Indonesia', 'Master Client'),
 (119153L, 119153L, 'Indonesia', 'Master Client'),
 (119170L, 119170L, 'Hong Kong', 'Master Client'),
 (119170L, 119170L, 'Hong Kong', 'Master Client'),
 (119182L, 119182L, 'Singapore', 'Master Client'),
 (119197L, 119197L, 'Singapore', 'Master Client'),
 (119219L, 119219L, 'Indonesia', 'Master Client'),
 (119237L, 119237L, 'Hong Kong', 'Master Client'),
 (119238L, 119238L, 'Hong Kong', 'Master Client'),
 (119238L, 119238L, 'Hong Kong', 'Master Client'),
 (119238L, 119238L, 'Hong Kong', 'Master Client'),
 (119238L, 119238L, 'Hong Kong', 'Master Client'),
 (119239L, 119239L, 'Hong Kong', 'Master Client')]

In [61]:
%%sql
SELECT n.node_id, e.Entity_ID1, n.country_name, e.description
    FROM node_countriesNW n JOIN edges_1DNW2 e ON n.node_id=e.Entity_ID1
    WHERE e.direction = 0
    LIMIT 20;

20 rows affected.

[(176933L, 176933L, 'Singapore', 'related company'),
 (176933L, 176933L, 'Samoa', 'related company'),
 (142365L, 142365L, 'British Virgin Islands', 'related company'),
 (144117L, 144117L, 'British Virgin Islands', 'related company'),
 (144117L, 144117L, 'Not identified', 'related company'),
 (144133L, 144133L, 'British Virgin Islands', 'related company'),
 (144133L, 144133L, 'Not identified', 'related company'),
 (144215L, 144215L, 'Singapore', 'related company'),
 (144314L, 144314L, 'Not identified', 'related company'),
 (144533L, 144533L, 'Not identified', 'related company'),
 (144584L, 144584L, 'British Virgin Islands', 'related company'),
 (144584L, 144584L, 'Not identified', 'related company'),
 (144587L, 144587L, 'British Virgin Islands', 'related company'),
 (144618L, 144618L, 'British Virgin Islands', 'related company'),
 (144618L, 144618L, 'Not identified', 'related company'),
 (144717L, 144717L, 'Not identified', 'related company'),
 (144738L, 144738L, 'British Virgin Islands', 'related company'),
 (144835L, 144835L, 'Singapore', 'related company'),
 (144835L, 144835L, 'British Virgin Islands', 'related company'),
 (144888L, 144888L, 'British Virgin Islands', 'related company')]

In [62]:
%%sql
SELECT n.node_id, e.Entity_ID2, n.country_name, e.description
    FROM node_countriesNW n JOIN edges_1DNW2 e ON n.node_id=e.Entity_ID1
    WHERE e.direction = 1
    LIMIT 20;

20 rows affected.

[(118811L, 168754L, 'Singapore', 'Beneficial Owner'),
 (118821L, 167875L, 'Hong Kong', 'Authorised Person / Signatory'),
 (118821L, 167887L, 'Hong Kong', 'Beneficial Owner'),
 (118854L, 168173L, 'Hong Kong', 'Beneficial Owner'),
 (118886L, 168956L, 'Indonesia', 'Beneficial Owner'),
 (119115L, 142519L, 'Singapore', 'Master Client'),
 (119170L, 135594L, 'Hong Kong', 'Master Client'),
 (119170L, 136585L, 'Hong Kong', 'Master Client'),
 (119219L, 147286L, 'Indonesia', 'Master Client'),
 (119237L, 138318L, 'Hong Kong', 'Master Client'),
 (119238L, 132626L, 'Hong Kong', 'Master Client'),
 (119238L, 132899L, 'Hong Kong', 'Master Client'),
 (119238L, 132911L, 'Hong Kong', 'Master Client'),
 (119238L, 133013L, 'Hong Kong', 'Master Client'),
 (119239L, 136327L, 'Hong Kong', 'Master Client'),
 (119273L, 144868L, 'Kuwait', 'Master Client'),
 (119288L, 140944L, 'Hong Kong', 'Master Client'),
 (119303L, 138811L, 'Indonesia', 'Master Client'),
 (119303L, 141974L, 'Indonesia', 'Master Client'),
 (119318L, 140940L, 'United States', 'Master Client')]

In [63]:
%%sql
SELECT n.node_id, e.Entity_ID2, n.country_name, e.description
    FROM node_countriesNW n JOIN edges_1DNW2 e ON n.node_id=e.Entity_ID1
    WHERE e.direction = 0
    LIMIT 20;

20 rows affected.

[(176933L, 166807L, 'Singapore', 'related company'),
 (176933L, 166807L, 'Samoa', 'related company'),
 (142365L, 161860L, 'British Virgin Islands', 'related company'),
 (144117L, 161822L, 'British Virgin Islands', 'related company'),
 (144117L, 161822L, 'Not identified', 'related company'),
 (144133L, 161821L, 'British Virgin Islands', 'related company'),
 (144133L, 161821L, 'Not identified', 'related company'),
 (144215L, 161818L, 'Singapore', 'related company'),
 (144314L, 161828L, 'Not identified', 'related company'),
 (144533L, 161834L, 'Not identified', 'related company'),
 (144584L, 161836L, 'British Virgin Islands', 'related company'),
 (144584L, 161836L, 'Not identified', 'related company'),
 (144587L, 161831L, 'British Virgin Islands', 'related company'),
 (144618L, 161817L, 'British Virgin Islands', 'related company'),
 (144618L, 161817L, 'Not identified', 'related company'),
 (144717L, 161842L, 'Not identified', 'related company'),
 (144738L, 161840L, 'British Virgin Islands', 'related company'),
 (144835L, 161848L, 'Singapore', 'related company'),
 (144835L, 161848L, 'British Virgin Islands', 'related company'),
 (144888L, 161857L, 'British Virgin Islands', 'related company')]